// screen
$mobile: 480px;
$tabletstart: 481px;
$tabletend: 1099px;
$desktop: 1100px;

$darkgreen: #29e373;
$bodygreen: #9bff6c;
$buttoncolor: #8aecbc;
$buttonhover: #34684f;

$navlinks: #545454;
$navlinkshover: #54545483;

$herocontactsbc: #8bf2cac2;

// fonts
$poppins: "Poppins", sans-serif;
$raleway: "Raleway", sans-serif;

// main why
$whytextcolor: #3e3e3ed5;
$whyheadlinebc: #ebffe1;

// main product
$mainproducttext: #585858d5;
$mainproductdecor: #cfcfcfc4;

// main form
$formbc: #8585858c;
$inputsbc: #f1f1f1;
$formheadlinec: #8a923e;

// op hero
$opheroheadlinebc: #c4c4c46c;
$opstartextbc: #f4f4f4;

// about px
$abouttextc: #5e5e5e;
