@media only screen and (max-width: $mobile) {
    .main__product {
        position: relative;
        color: $mainproducttext;
        font-family: $raleway;
        margin-top: 3rem;
        overflow: hidden;

        .main__product__wrapper {
            .main__product__headline {
                text-align: center;
                margin-bottom: 3rem;

                h2 {
                    font-size: 2.3rem;
                    font-weight: 800;
                }
            }

            .main__product__content {
                padding-right: 1.3rem;

                .main__product__container {
                    display: flex;
                    flex-direction: column;
                    padding: 1em 5px 2em 2em;
                    background: $mainproductdecor;

                    // &::before {
                    //     content: "";
                    //     z-index: -1;
                    //     position: absolute;
                    //     display: block;
                    //     width: 95%;
                    //     height: 100%;
                    //     left: 0;
                    //     background: $mainproductdecor;
                    // }

                    .main__product__item1 {
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: all 500ms linear;

                        &.appear {
                            transform: translateX(0);
                            opacity: 1;
                        }

                        strong {
                            font-weight: 700;
                            font-size: 5em;
                            font-family: $poppins;
                        }
                    }
                    h4 {
                        font-size: 1.3em;
                        font-weight: 700;
                        display: inline-block;
                        margin-left: 10px;
                    }

                    .main__product__item2 {
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: all 500ms linear;

                        &.appear {
                            transform: translateX(0);
                            opacity: 1;
                        }

                        strong {
                            font-size: 4em;
                            font-family: $poppins;
                        }
                        .main__product__item__inner {
                            margin-left: 127px;
                            max-width: 300px;

                            span {
                                font-weight: 700;
                            }

                            p {
                                margin-top: 10px;
                            }

                            button {
                                margin-top: 20px;
                                background: transparent;
                                border: none;
                                display: flex;
                                align-items: center;
                                font-size: 1.1em;
                                font-weight: 700;
                                font-family: $raleway;
                                color: $mainproducttext;

                                &:hover {
                                    color: $navlinkshover;
                                }

                                &:hover img {
                                    transform: translateX(5px);
                                }

                                img {
                                    margin-left: 5px;
                                    width: 11px;
                                    height: auto;
                                    transition: all 100ms linear;
                                }
                            }
                        }
                    }
                }
            }

            .main__product__imges {
                margin: 3em 0;
                padding: 0 2em;

                // &::before {
                //     z-index: -1;
                //     position: absolute;
                //     content: "";
                //     display: block;
                //     width: 60%;
                //     top:
                //     height: 25em;
                //     right: 50px;
                //     transform: translateY(-50px);
                //     background: $mainproductdecor;
                // }

                .main__product__imges__inner {
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;

                    .main__product__img {
                        transform: translateX(100%);
                        opacity: 0;
                        transition: all 500ms linear;

                        &:nth-of-type(2) {
                            transition-delay: 100ms;
                        }

                        &:nth-of-type(3) {
                            transition-delay: 150ms;
                        }

                        &:nth-of-type(4) {
                            transition-delay: 200ms;
                        }
                    }

                    .main__product__img.appear {
                        transform: translateX(0);
                        opacity: 1;
                    }

                    &::before {
                        z-index: -1;
                        position: absolute;
                        content: "";
                        display: block;
                        top: 0;
                        bottom: -60px;
                        left: 0;
                        right: 0;
                        right: 50px;
                        transform: translate(60px, -30px);
                        background: $mainproductdecor;
                    }

                    img {
                        max-width: 100%;
                        filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
                    }
                }
            }
        }
    }
}
